:root{
    --red:#9F0000;
    --white:#fafafa;
    --black:#1e1e1e;

    --h1: 40px;
    --h2: 30px;
    --h3:25px;
    --p: 16px;
    --link: 18px;
}

/*basics*/

html{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: var(--white);
}
body{
    background-color:var(--white);
    color: var(--black);
    min-width: 100%;
    max-width:100%;
    width:100%;
    display:flex;
    justify-content: center;
    margin:0px;
    margin-top: 20px;
    flex-direction: column;
}

div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    min-width:100%;
    max-width:100%;
    background-color:transparent;
    flex-direction: column;
    z-index:1;
}
div.inner{
    width:85%;
    min-width:85%;
    max-width:85%;
}
p{
    font-size:var(--p);
    line-height: auto;
    font-weight: 500;
    font-family: "lora";
}

p.destaque, p span{
    color:var(--red);
}

h1{
    font-size: var(--h1);
    line-height:40px;
    font-weight: 600;
    font-family: "nunito";
    color: var(--black);
}

h1.destaque{
    font-weight:900;
}

h2{
    font-size: var(--h2);
    line-height: 36px;
    font-weight: 500;
    font-style: italic;
    font-family:"nunito";
    color: var(--black);
}

h2.destaque{
    font-weight: 900;
    color: var(--red);
}

a{
    color:var(--red);
    font-size: var(--link);
    text-decoration: underline;
}
a:hover{
    color:var(--black);
}
body>img{
    position: absolute;
    top:0;
    right:0;
    z-index: 0;
    pointer-events: none;
}
img.background-1{
    width: 75%;
}

/*header*/
header{
    min-width:100%;
    max-width:100%;
    width:100%;
    display:flex;
    justify-content: center;
    background: transparent;
}
div.logo{
    justify-content: flex-start;
    text-transform: uppercase;
    flex-direction: row;
}
div.logo p{
    font-family: "nunito";
    font-weight: 900;
    color:var(--red);
    font-size: 16px;
    margin-left: 8px;
}
button{
    border-radius:33px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    color:var(--white);
    background-color: var(--red);
    font-size:var(--link);
    padding: 20px 40px;
    pointer-events: all;
    cursor: pointer;
    font-family: nunito;
    font-weight:800;
}
button img{
margin-left:8px;
}
button:hover{
  filter: grayscale(0.1);
}
button.secondary{
    background-color: var(--black);
}
/* div numero 1*/
body>div h1{
    max-width: 40%;
    margin-bottom:15px;
}

body>div p{
    max-width:30%;
    margin-top:0;
    margin-bottom:30px;
}

body>div:first-of-type>div.inner>div{
height: fit-content;
width: 50%;
max-width:50%;
align-items: flex-start;
}

body>div:first-of-type>div.inner>div>.buttons{
    flex-direction: row;
    justify-content: start;

}

body>div:first-of-type>div.inner{
    height: 92vh;
    justify-content: space-around;
}
body>div:first-of-type>div.inner button.secondary{
    margin-left:30px;
}
div.tabs{
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid #1e1e1e33;
    margin-top:90px;
}

div.tabs a{
    text-decoration: none;;
    font-size: var(--h2);
    font-family: nunito;
    padding: 0px 20px;
    color:var(--black);
    opacity:50%;
    cursor:default;
}
div.tabs a.active{
    color:var(--red);
    font-weight: 900;
    border-bottom:2px solid var(--red);
    opacity: 100%;
}
div.tabs a:not(a.active){
    cursor: pointer;
}
div.tabs a:not(a.active):hover{
    color:var(--red);
    border-bottom:2px solid var(--red);
}
.game, .plugin{
    position: relative;
}
.game .inner>div{
    flex-direction: row;
    justify-content: space-around;
    margin-top:90px;
    z-index:1;
}
.game .inner>div img{
    width: 510px;
    max-width:50%;
    border-radius: 10px;
box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
.game .inner>div>div {
    max-width:40%;
    min-width: 40%;
    align-items: flex-start;
}
.game .inner>div>div:nth-child(odd){
margin-left:20%
}
.game .inner>div>div h2{
    color: var(--black);
}
.game .inner>div>div p{
    max-width:100%;
    min-width: 100%;
    width:100%;
}
div.red{
    width:100%;
    background-color: var(--red);
    position: absolute;
    bottom:0;
    height: 350px;
    z-index:0;
}
div.pre-footer{
    background-color:var(--red);
    flex-direction: column;
    padding-bottom:30px;
}
div.pre-footer .inner{
    flex-direction: column;
}
div.pre-footer h2{
    color:var(--white);
    margin-top:0;
    margin-bottom:15px;
}
div.pre-footer h1{
    min-width: fit-content;
    max-width: fit-content;
    width: fit-content;
    margin-bottom: 30px;
    margin-top:0;
}
/*video*/
video{
    width:80%;
    Margin:auto;
}
/*pluggin*/
.pluggin{
    margin:0;
}
.plugin img{
    width:80%;
    margin:auto;
    margin-top:90px;
}
.plugin div.pre-footer h2{
margin-top: 30px;
}
.pluggin_des h2{
    margin-top:0;
    color: var(--black);
}
.pluggin_des p{
    width:100%;
    max-width:100%;
    text-align: center;   
}
.pluggin_des{
    margin-bottom:30px;
}

/*tabs controler*/
.tabs_content .not-active{
    display:none;
}
.tabs_content .active{
  display: flex;
}
footer{
background-color: var(--black);
color:var(--white);
padding: 40px 0;
}
footer>.inner{
    margin:auto;
}
footer div{
    flex-direction: row;
}
footer>div{
    justify-content: space-between;
}
footer>div>div{
    width: auto;
    max-width: none;
    min-width:0px;
    align-items: center;
}
footer p{
    cursor:default;
    width:fit-content;
    min-width: fit-content;
    margin-right:8px;
}
footer a{
    color:var(--white);
    font-size:16px;
    cursor: pointer;
}
footer a:hover{
    color:var(--red);
}
